.trainer-details {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.trainer-details h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.trainer-details p {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

.trainer-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.trainer-details li {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}