.trainers-page {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.trainers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.trainer {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.trainer img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.trainer h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.trainer p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.trainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.trainer li {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}